<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Happy Scoops - About</title>
  <link rel="stylesheet" href="../static/about.css">
</head>
<body>
  <header>
    <nav class="navbar">
      <div class="logo">🍦 Happy Scoops</div>
      <h1><div class="logo" > Your Ice-Cream Parlour </div></h1>
      <ul class="nav-links">
        <li><a href="{{ url_for('home') }}">Home</a></li>
        <li><a href="{{ url_for('menu') }}">Menu</a></li>
        <li><a href="{{ url_for('about') }}">About</a></li>
        <li><a href="{{ url_for('contact') }}">Order</a></li>
      </ul>
    </nav>
  </header>

  <section class="about">
    <h1>About Us</h1>
<!-- <p>We are a family-owned ice cream parlor, serving happiness since 1999.</p>
    <p>Our mission is to make your day sweeter with fresh, creamy treats!</p> -->
    <h2>🍨 About Happy Scoops</h2>


  <p>
    At Happy Scoops, we believe that every scoop of ice cream should bring a smile.
  What started as a small dream to serve happiness in a cone has now become a delightful destination for ice cream lovers of all ages.</li>
  </p>
  
<p>
  <b>Founded in 2022,</b> Happy Scoops began with a simple idea: to make fresh, handcrafted ice cream with real ingredients and exciting flavors.
</p>

  From classic vanilla and chocolate to adventurous creations like blueberry cheesecake, coffee crunch, and tropical fruit blends, every flavor is made with care and creativity.

<p>
Our journey started with a single shop that quickly became a favorite hangout spot for families, friends, and students. Over the years, we’ve grown not just in flavors but in community, bringing people together over shared love for cold, creamy goodness.
</p>
<p>
At Happy Scoops, ice cream isn’t just dessert—it’s a moment of joy, a reason to celebrate, and a memory to cherish. Whether you’re here for a single scoop, a sundae, or a new seasonal surprise, we promise every visit will leave you happier than before.</p>
</ul>
 </section>

 <footer>

 <div class="contact-info">
      <p>📍 <strong>Address:</strong> City Center, Hazratganj, Lucknow, Uttar pradesh </p>
      <p>📞 <strong>Phone:</strong> +91 8005016125</p>
      <p>📧 <strong>Email:</strong> contact@happyscoops.com</p>
      <p>🕒 <strong>Timings:</strong> 11:00 AM – 11:00 PM (All Days)</p>
    </div>

     <div class="social">
      <h2>Connect With Us</h2>
      <a href= "Happy Scoops">Facebook</a> |
      <a href="Heera's_Invitation">Instagram</a> |
      <a href="Heera's_Invitation">Twitter</a>
    </div>
  </div>
  
  
    © 2025 Happy scoops | All Rights Reserved
  </footer>
</body>
</html>
